

#widget-mock-server {
  width: 100%;
  overflow: hidden;
  position: relative;

  .container {
    height: 260px;

    input[type="number"] {
      width: 100%;
      min-width: 20px;
      max-width: 50px;
      height: 24px;
      padding: 0 8px;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .form-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      font-size: 0.7rem;

      label {
        font-weight: 500;
        cursor: pointer;
      }

      button {
        height: 24px;
      }
    }
  }

  .loader {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgb(from var(--container-background) r g b / 0.65);
    * {
      transition: none;
    }
    svg {
      transition: none;
      color: var(--accent);
      font-size: 3rem;
    }
  }
}