:root {
  --text-primary: #111827;
  --text-muted: rgba(15, 23, 42, 0.65);
  --accent: #38bdf8;
  --accent-contrast: #fff;
  --outline: rgba(186, 207, 234, 0.15);
  --border: #d5d6dd;
  --button-opacity: 0.35;
  --main-background: rgb(246, 248, 250);
  --container-background: rgba(246, 248, 250, .75);

  --text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
  --container-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.65) inset, 0 24px 60px -40px rgba(15, 23, 42, 0.9);

  --radial-background-1: radial-gradient(circle, rgba(212, 179, 255, 0.25), rgba(189, 147, 249, 0.133));
  --radial-background-2: radial-gradient(circle, rgba(255, 153, 214, 0.19), rgba(255, 121, 198, 0.082));

  --scrollbar-background: #F7F7F9;
  --scrollbar-thumb: rgba(0,0,0,0.25);

  --weather-days-number: 7;
  --top-container-height: 125px;
  --weather-icon-size: 70px;
  --widgets-distance: .85rem;

  --font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --action-bar-padding: 30px;
  -webkit-user-select: none;
  user-select: none;
}
.theme-dark {
  --text-primary: #f8fafc;
  --text-muted: rgba(226, 232, 240, 0.68);
  --accent: #38bdf8;
  --accent-contrast: #fff;
  --outline: rgba(148, 163, 184, 0.28);
  --border: #d5d6dd;
  --button-opacity: 0.35;
  --main-background: rgb(32, 34, 43);
  --container-background: rgba(32, 34, 43, 0.75);

  --text-shadow: 1px 1px 0 rgba(0,0,0,1);
  --container-box-shadow: 0 0 0 1px rgba(15, 23, 42, 0.65) inset, 0 24px 60px -40px rgba(15, 23, 42, 0.9);

  --scrollbar-background: #102331;
  --scrollbar-thumb: rgba(255,255,255,0.25);

  --radial-background-1: radial-gradient(circle, rgba(212, 179, 255, 0.25), rgba(189, 147, 249, 0.133));
  --radial-background-2: radial-gradient(circle, rgba(255, 153, 214, 0.19), rgba(255, 121, 198, 0.082));
}

.widgets-size-medium {
  --weather-icon-size: 60px;
  --top-container-height: 106px;
  --widgets-distance: .75rem;
}
.widgets-size-small {
  --weather-icon-size: 50px;
  --top-container-height: 90px;
  --widgets-distance: .65rem;
  --weather-days-number: 6;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html { height: 100% }
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--widgets-distance);
  padding: 0;
  background: transparent;
  font-family: var(--font-family);
  color: var(--text-primary);
  font-size: 16px;
}

::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--scrollbar-background);
}
::-webkit-scrollbar, *::-webkit-scrollbar {
  border-radius: 20px;
  width: 8px;
  height: 8px;
  background-color: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--scrollbar-thumb);
}

#top-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 2px 0;
  margin: 0;
}
#top-container:hover #settings-container .settings-menu-open {
  opacity: var(--button-opacity);
}
#top-container #analog-clock, #top-container #digital-clock {
  order:1;
}
#top-container #weather-widget {
  order: 2;
}
#top-container #daily-weather-widget {
  order: 3;
}

#drag-icon {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: grab;
  color: var(--text-primary);
  z-index: 9;
  -webkit-app-region: drag;
}
#drag-icon svg {
  width: 2em;
  height: auto;
  filter: drop-shadow(1px 1px 0px rgba(255,255,255,0.35));
}

#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2px;
  gap: var(--widgets-distance);
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  /*border: 6px solid var(--outline);*/
  box-shadow: var( --container-box-shadow);
  background: var(--container-background);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.container * {
  transition: all 0.2s ease-in-out;
}
.container:has(.acction-bar) {
  padding-right: var(--action-bar-padding);
}

.widget-title {
  position: absolute;
  top: -20px;
  left: 6px;
  font-size: 0.75rem;
  font-weight: 200;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.65;
}

.circle-button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #dadada;
  color: #333;
  cursor: pointer;
  position: relative;
  opacity: var(--button-opacity);
  transition: opacity 0.2s ease-in-out;
}
.circle-button:hover {
  opacity: 1 !important;
}
.circle-button svg {
  width: 1.2em;
  height: auto;
}
.circle-button .icon-regular,
.circle-button .icon-hover {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle-button .icon-regular {
  opacity: 1;
}
.circle-button .icon-hover {
  opacity: 0;
}
.circle-button:has(.icon-hover):hover .icon-regular {
  opacity: 0;
}
.circle-button:hover .icon-hover {
  opacity: 1;
}
.circle-button.danger-button:hover .icon-hover {
  color: #ff0000;
  opacity: 1;
}

.container .acction-bar {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  /*transform: translateX(50%);*/
  opacity: 0;
}
.container .acction-bar .circle-button {
  width: 24px;
  height: 24px;
}
.container .acction-bar .circle-button svg {
  width: 0.9rem;
}
.container:hover .acction-bar,
.container:focus-within .acction-bar,
.container:active .acction-bar {
  /*transform: translateX(100%);*/
  opacity: 1;
}


select {
  width: 100%;
  padding: 5px 8px;
  border: 0;
  border-radius: 4px;
  background: rgba(0,0,0,0.05);
  color: var(--text-primary);
  font-size: 0.8rem;
  font-family: inherit;
}
.theme-dark select {
  background: rgba(255,255,255,0.1);
}
.theme-dark select option {
  background-color: var(--container-background);
}
input:not([type="checkbox"]) {
  width: 100%;
  padding: 5px 8px;
  border: 0;
  border-radius: 4px;
  background: rgba(0,0,0,0.05);
  color: var(--text-primary);
  font-size: 0.8rem;
  font-family: inherit;
}
.theme-dark input {
  background: rgba(255,255,255,0.1);
}

.switch-container {
  flex:1;
  text-align: start;
  padding: 0.15rem;
  font-size: 16px
}
input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  cursor: pointer;
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
}
input:where([type="checkbox"][role="switch"]):checked {
  /*background: var(--accent);*/
  border-color: var(--accent);
}
input:where([type="checkbox"][role="switch"]):checked::before {
  left: 1em;
  background: var(--accent);
  border-color: var(--accent);
}

input:where([type="checkbox"][role="switch"]):disabled {
  opacity: 0.4;
}

.toast {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 26px;
  padding: 5px 12px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  color: var(--accent-contrast);
  font-size: 0.7rem;
  line-height: 1em;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}
.toast:has(button) {
  padding-right: 25px;
}
.toast button {
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -1px;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  color: var(--accent-contrast);
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}
.toast button svg {
  display: block;
}
.toast.success { background: var(--accent); }
.toast.error { background: #ff0000; }
.toast.hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%) scale(0.9);
}