

.tabs {
  width: 100%;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs ul {
  list-style-type: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  min-height: 26px;
}
.tabs ul:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background: var(--border);
}
.tabs ul li {
  width: auto;
  height: 100%;
  max-width: 25%;
  padding: 5px 8px 6px;
  text-align: left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid transparent;
  display: block;
}
.tabs ul li label {
  width: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 600;
  color: var(--text-muted);
  text-shadow: var(--text-shadow);
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label svg {
  fill: var(--text-muted);
  width: .8rem;
  height: .8rem;
  display: block;
  min-width: .8rem;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: var(--text-muted);
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: var(--text-muted);
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1),
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2),
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3),
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) {
  background-color: var(--input-background);
  border-color: var(--accent);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  /*color: var(--accent);*/
  color: var(--text-primary);
}
/*.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg,
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg,
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg,
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: var(--accent);
}*/
/*.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider,
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider,
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider,
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(0%);
}*/
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1),
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2),
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3),
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}


@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}