
#notes-widget {
  position: relative;
  width: 100%;
  height: 100px;
}
#notes-widget .container {
  height: 100%;
  padding: 8px 10px;
  /*opacity: 0.45*/
}
/*#notes-widget:hover .container,
#notes-widget:active .container,
#notes-widget:focus-within .container {
  opacity: 1;
}*/

#notes-widget .container textarea {
  resize: none;
  width: calc(100% - 16px);
  height: calc(100% - 20px);
  position: absolute;
  background: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1.35em;
  text-align: start;
  padding: 0;
  padding-inline-start: 1rem;
  opacity: 0;
}
#notes-widget .container .notes-view {
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 20px);
  background: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1.35em;
  text-align: start;
  overflow: auto;
  opacity: 1;
}

#notes-widget .container .notes-view ul {
  padding: 0;
  padding-inline-start: 1rem;
  margin: 0;
}
#notes-widget .container .notes-view ul li {
  padding:0;
  margin:0;
}
#notes-widget .container .notes-view ul li::marker {
  margin: 0;
  padding: 0;
}