
#notes-widget {
  position: relative;
  width: 100%;
  height: 120px;

  .container {
    height: 100%;
    padding: 8px var(--action-bar-padding) 8px 10px;

    textarea {
      resize: none;
      width: calc(100% - 10px - var(--action-bar-padding));
      height: calc(100% - 16px);
      position: absolute;
      background: transparent;
      color: var(--text-primary);
      border: none;
      outline: none;
      font-family: var(--font-family);
      font-size: 0.75rem;
      line-height: 1.35em;
      text-align: start;
      padding: 0;
      padding-inline-start: 1rem;
      opacity: 0;
    }

    .notes-view {
      position: absolute;
      width: calc(100% - 10px - var(--action-bar-padding));
      height: calc(100% - 16px);
      background: transparent;
      color: var(--text-primary);
      border: none;
      outline: none;
      font-family: var(--font-family);
      font-size: 0.75rem;
      line-height: 1.35em;
      text-align: start;
      word-break: break-all;
      overflow: auto;
      opacity: 1;

      ul {
        padding: 0;
        padding-inline-start: 1rem;
        margin: 0;

        li {
          padding:0;
          margin:0;
          &::marker {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}