
#dev-utils-widget {

  .encode-container {
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .control-bar {
      width: 100%;
      height: 26px;
      display: flex;
      justify-content: space-between;

      select {
        font-size: 0.7rem;
        padding: 4px 6px;
        outline: none;
      }
    }

    .encoded-container, .decoded-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      .action-bar {
        top: 0;
        right: -28px
      }
    }

    .decoded-container {
      .drag-zone {
        /*border: 1px dashed var(--border);*/
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-family: sans-serif;
        color: rgb(from var(--text-primary) r g b / 0.65);
        background: var(--input-background);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.highlight {
          outline: 1px dashed var(--accent); /* Highlight on drag over */
          outline-offset: -5px;
          /*background-color: rgb(from var(--accent) r g b / 0.005);*/
        }
        .placeholder {
          font-size: 0.7rem;
          letter-spacing: 0.5px;
          color: rgb(from var(--text-primary) r g b / 0.55);
          display: flex;
          align-items: center;
          gap: 4px;
          svg {
            font-size: 0.8rem;
          }
        }
      }
    }

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      outline: none;
      padding: 6px 10px;
      font-family: monospace;
      border-radius: 5px;
      border: 0;
      background: var(--input-background);
      font-size: 0.65rem;
    }

  }

}