
#dev-utils-widget {

  .encode-container {
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 5px;

    .control-bar {
      width: 100%;
      height: 26px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      select {
        font-size: 0.7rem;
        padding: 4px 6px;
        outline: none;
      }

      .title {
        align-self: flex-end;
      }
    }

    .title {
      height: 12px;
      font-size: 0.7rem;
      font-weight: 600;
      line-height: 1em;
      color: var(--text-muted);
      text-shadow: var(--text-shadow);
      text-align: left;
      align-self: flex-start;
      padding: 0 4px;
      margin-top: -2px;
      position: relative;
      top: 3px;
    }

    .encoded-container, .decoded-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      .action-bar {
        top: 0;
        right: -28px
      }

      & > * {
        flex: 1;
      }
    }

    .decoded-container {
      .drag-zone {
        /*border: 1px dashed var(--border);*/
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-family: sans-serif;
        color: rgb(from var(--text-primary) r g b / 0.65);
        background: var(--input-background);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.highlight {
          outline: 1px dashed var(--accent); /* Highlight on drag over */
          outline-offset: -5px;
          /*background-color: rgb(from var(--accent) r g b / 0.005);*/
        }
        .placeholder {
          font-size: 0.7rem;
          letter-spacing: 0.5px;
          color: rgb(from var(--text-primary) r g b / 0.55);
          display: flex;
          align-items: center;
          gap: 4px;
          svg {
            font-size: 0.8rem;
          }
        }

        display: none;
      }

      .decoded-file-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 3px 7px;
        border-radius: 5px;
        border: 1px solid var(--input-background);
        font-size: 0.7rem;
        line-height: 1.1em;
        display: none;

        /* -- FILE Preview - */
        img,
        span {
          width: 30px;
          min-width: 30px;
          height: 30px;
          border-radius: 4px;
          border: 1px solid var(--input-background);
          background: var(--input-background);
          object-fit: cover;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--text-muted);
          font-size: 1.4rem;
        }

        & div {
          flex: 1;
          text-align: left;
          height: 30px;
          max-height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          /* -- FILE Name - */
          p {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 30px;
            margin: 0;
            padding: 0;
            display: block;
            overflow: hidden;
          }

          /* -- FILE Size - */
          &:last-child {
            flex: unset;
            justify-content: flex-end;
            white-space: nowrap;
          }
        }

      }

      .decoded-text-editable {
        display: none;
      }
      textarea {
        display: none;
      }
    }

    .encoded-container {
      .action-bar {
        top: auto;
        bottom: 0;
      }
    }

    .decoded-text-editable,
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      outline: none;
      padding: 6px 10px;
      margin: 0;
      text-align: left;
      /*font-family: monospace;*/
      font-family: var(--font-family);
      border-radius: 5px;
      border: 0;
      color: var(--text-primary);
      background: var(--input-background);
      font-size: 0.65rem;
    }

    .decoded-text-editable {
      pre {
        margin: 0;
        padding: 0;
      }
    }

    &.encode-type-JWT,
    &.encode-type-url {
      .decoded-container {
        .action-bar {
          .download-button {
            display: none;
          }
          .copy-button {
            display: flex;
          }
        }
        .drag-zone {
          display: none;
        }
        .decoded-text-editable {
          display: block;
        }
        textarea {
          display: block;
        }
      }

      .encoded-container {
        textarea[name="encoded-text-output"] {
          display: block;
        }
        textarea[name="encoded-file-text-output"] {
          display: none;
        }
      }
    }

    &.encode-type-base64,
    &.encode-type-base32 {
      .decoded-container {
        .action-bar {
          .download-button {
            display: flex;
          }
          .copy-button {
            display: none;
          }
        }
        .drag-zone {
          display: flex;
        }
        .decoded-text-editable {
          display: none;
        }
        textarea {
          display: none;
        }
      }

      .encoded-container {
        textarea[name="encoded-text-output"] {
          display: none;
        }
        textarea[name="encoded-file-text-output"] {
          display: block;
        }
      }
    }

    &.has-file {
      .decoded-container {
        .decoded-file-container {
          display: flex;
        }
      }
    }

    .action-bar.clear-all {
      margin-top: 19px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}