
#settings-container {
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;

  .settings-menu-open, .settings-menu-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .settings-menu-open {
    opacity: 0;
  }
  .settings-menu-close {
    top: 3px;
    left: auto;
    right: 5px;
  }

  /* -- MENU - */
  .settings-menu {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    background: var(--main-background);
    overflow: hidden;

    /* -- TITLE - */
    h1 {
      font-size: 0.8rem;
      font-weight: 500;
      padding: 8px 12px 8px;
      margin: 0 -5px;
      text-align: left;
      color: var(--text-primary);
      background-color: rgb(from var(--text-primary) r g b / 7%);
      /*border-bottom: 1px solid rgb(from var(--text-primary) r g b / 10%);*/
    }

    /* -- MENU Item - */
    .settings-menu-item {
      width: 100%;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 20px;
      border-bottom: 1px solid var(--border);

      label {
        flex: 1;
        width: 50%;
        min-width: 50%;
        text-align: left;
      }

      .switch-container {
        flex:1;
        text-align: start;
        padding: 0.15rem;
        font-size: 16px
      }

      .settings-item-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;

        .item-content-row {
          display: flex;
          align-items: center;
          justify-content: space-between;

          /* -- MANUAL LOCATION SETTINGS - */
          &.geo-position-manual {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > div {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
            }
            label {
              padding-inline-end: 10px;
              text-align: end !important;
            }
            input {
              width: 100%;
              min-width: 40px !important;
            }
          }
        }
      }

      &:nth-child(5) {
        border-bottom: none;
      }
      &:last-child {
        /*border-bottom: none;*/
      }
    }
  }
}