
#settings-container {
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
}
#settings-container .settings-menu-open,
#settings-container .settings-menu-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
#settings-container .settings-menu-open {
  opacity: 0;
}
#settings-container .settings-menu-close {
  top: 3px;
  left: auto;
  right: 5px;
}
#settings-container .settings-menu {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  background: var(--main-background);
  overflow: hidden;
}
#settings-container .settings-menu h1 {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 12px 8px;
  margin: 0 -5px;
  text-align: left;
  color: var(--text-primary);
  background-color: rgb(from var(--text-primary) r g b / 7%);
  /*border-bottom: 1px solid rgb(from var(--text-primary) r g b / 10%);*/
}
#settings-container .settings-menu .settings-menu-item {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 1px solid var(--border);
}
#settings-container .settings-menu .settings-menu-item:last-child {
  border-bottom: none;
}
#settings-container .settings-menu .settings-menu-item:nth-child(5) {
  border-bottom: none;
}
#settings-container .settings-menu .settings-menu-item label {
  flex: 1;
  width: 50%;
  min-width: 50%;
  text-align: left;
}

#settings-container .settings-menu .settings-menu-item .settings-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
#settings-container .settings-menu .settings-menu-item .settings-item-content .item-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}